.header, .widget {
	text-align: center;
}

.intuit-logo {
    background-position: 0 0;
    width: 118px;
    height: 35px;
}

.mint-logo {
    background-position: -246px -45px;
    width: 75px;
    height: 35px;
}

.quickbooks-logo {
    background-position: -104px -45px;
    width: 145px;
    height: 35px;
}

.turbotax-logo {
    background-position: 0px -45px;
    width: 100px;
    height: 35px;
}

.logo {
    margin: 0 auto;
    display: inline-block;
    background-image: url(../images/ecosystem_logos_new@2x.png);
	background-size: 458px 83px;
}