.header, .widget {
	text-align: center;
}

.intuit-logo {
    background-position: 0 0;
    height: 35px;
    width: 118px;
}

.mint-logo {
    background-position: -246px -45px;
    height: 35px;
    width: 75px;
}
.password-field{
    margin-top: 30px;
}
.phone-field{
    margin-top: 30px;
}
.term-text{
    text-align: center;
    line-height: 18px;
    font-weight: 400;
    font-style: bold;
}
.quickbooks-logo {
    background-position: -104px -45px;
    height: 35px;
    width: 145px;
}

.signup-box{
    background-color: white;
    border: rgb(199, 199, 199) 1px solid;
    border-radius: 2px;
    margin: 15px auto;
    padding: 30px;
    width: 320px;
}

.signup-box input {
    border: rgb(193, 197, 200) 1px solid;
    border-radius: 2px;
    height: 28px;
    margin: 5px 0;
    min-width: 160px;
    width: 100%;
    padding-left: 5px;
}

.signup-box-header{
    font-size: 24px;
    text-align: center;


}
.signup-box-body{
    text-align: center;
}
.turbotax-logo {
    background-position: 0 -45px;
    height: 35px;
    width: 100px;
}

.logo {
    background-image: url(../images/ecosystem_logos_new@2x.png);
	background-size: 458px 83px;
    display: inline-block;
    margin: 0 auto;
}

.create-account-button {
    margin: 25px 0;
}

.form-footer {
    background-color: rgb(236, 238, 241);
    padding: 16px;
    margin: 32px -30px -30px -30px;
    font-size: 10px;
    text-align: center;
}