body {
	background-color: rgb(236, 238, 241);

}

.footer-link-containe > li {
	display: inline-block;
	list-style-type: disc;
	margin-left: 0;
	margin-right: 0;
	padding-left: 5px;
}

.footer{
	text-align: center;
}

.footer a {
	color: rgb(80, 80, 80);
}