.navbar {
    color: rgb(80, 80, 80);
	height: 60px;
}

nav button {
    margin-left: 10px;
    position: absolute;
	width: 103px;
}

.navbar > div {
	float: right;
	margin: 10px;
    width: 300px;
}

.navbar > div > div {
	display: inline-block;
	margin-top: 4px;
}
.already-have-account {
	display: block;
}
.forgot-user-id-or-password {
	display: block;
}