.navbar {
	height: 60px;
	color: rgb(80, 80, 80);
}
.navbar > div {
	width: 300px;
	float: right;
	margin: 10px;
}
.navbar > div > div {
	display: inline-block;
	margin-top: 4px;
}
.already-have-account {
	display: block;
}
.forgot-user-id-or-password {
	display: block;
}
.forgot-user-id-or-password a {
	text-decoration: none;
	outline-color: rgb(0, 119, 197);
	text-decoration-color: rgb(0, 119, 197);
	color: rgb(0, 119, 197);
}