body {
	background-color: rgb(236, 238, 241);
    color: rgb(80, 80, 80);
	font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
    margin: 0;
    padding-bottom: 30px;
}

.button-padlock-logo {
    background-image: url(../images/icon-whitelock@3x.png?v=1.49.0.4);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 1em;
    margin-right: 4px;
    margin-top: 2px;
    vertical-align: text-top;
    width: .8em;
}

button {
    background-color: rgb(0, 119, 197);
    border-color: rgb(76, 76, 76);
    border-radius: 4px;
    border-width: 1px;
    color: white;
    height: 34px;
    width: 100%;
}

a {
    color: rgb(0, 119, 197);
    outline-color: rgb(0, 119, 197);
	text-decoration: none;
	text-decoration-color: rgb(0, 119, 197);
}